<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/security 
         http://www.springframework.org/schema/security/spring-security.xsd">
    
   
    <http auto-config="true">
    	<intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/login.html" access="permitAll" />
        <form-login  login-page="/login.html"
                     username-parameter="userId"
                     password-parameter="password"
                     authentication-failure-url="/login?error"
                     
                      />
       
        <logout logout-url="/logout"  invalidate-session="true" logout-success-url="/login?logout" />
      
        <csrf disabled="true" />
    </http>
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="2017#admin" authorities="ROLE_ADMIN" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
</b:beans>